.tree {
  position: relative;
}
.tree ul {
  font-size: 15px;
  padding: 0;
}
.tree > ul {
  height: 600px;
  overflow: auto;
}
.tree li {
  position: relative;
  list-style-type: none;
  margin-left: -20px;
  line-height: 25px;
  cursor: pointer;
  padding-left: 40px;
}
.tree {
  user-select: none;
  height: 700px;
  width: 800px;
  margin: 51px auto 0 auto;
  border: 1px solid #bbb;
  border-radius: 5px;
}
.hidden {
  height: 0;
  overflow: hidden;
}
.mask-hidden {
  display: none;
}
.btn {
  display: inline-block;
  font-size: 14px;
  padding: 5px 15px;
  border: 1px solid #888;
  border-radius: 20px;
  margin-right: 15px;
  cursor: pointer;
}
.tree > .footer {
  border-top: 1px solid #bbb;
  padding: 20px 0 10px 600px ;
}
.triangle-icon {
  font-size: 10px;
  transform: scale(0.7) rotate(180deg);
  display: inline-block;
  line-height: 10px;
  color: gray;
}
.triangle-icon:before {
  content: "▲";
}
.spread-icon {
  animation: spreadicon .2s linear;
  animation-fill-mode: forwards; 
}
.take-up-icon {
  animation: takeupicon .2s linear;
  animation-fill-mode: forwards;  
}
@keyframes spreadicon {
  to {
    transform: scale(0.7) rotate(90deg);
  }
}
@keyframes takeupicon {
  to {
    transform: scale(0.7) rotate(180deg);
  }
}
.operations {
  position: absolute;
  right: 44px;
  color: #6b79f7;
}
.operations span {
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
}
.option-container:hover {
  background-color: #e8e8ff;
}
.mask {
  position: absolute;
  z-index: 1000;
  background-color: rgba(78, 78, 78, 0.19);
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}
.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 245px;
  height: 153px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 25px 10px 10px 10px;
}
.box label {
  font-size: 14px;
  display: inline-block;
  width: 50px;
  text-align: right;
}
.close-mask {
  position: absolute;
  top: 2px;
  right: 5px;
  color: #888;
  font-size: 12px;
}
.mask .footer {
  margin-top: 20px;
  padding-left: 154px;
}
.input-name {
  width: 152px;
  height: 25px;
  border: 1px solid #bbb;
  border-radius: 5px;
  padding-left: 10px;
}